<a href="https://colab.research.google.com/github/poolaNaveen/integer.py/blob/main/boolean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Check if 25 is greater than 20 and less than 30
if 25 > 20 and 25 < 30:
  print('25 is greater than 20 and less than 30')
else:
  print('25 is not greater than 20 and less than 30')

25 is greater than 20 and less than 30

In [5]:
#Check if string 'python' is equal to 'Python' (case sensitive)
if 'python' == 'Python':
  print('python is equal to Python')
else:
  print('python is not equal to Python')

python is not equal to Python

In [9]:
#Check if 15 is divisible by both 3 and 5
print(15 % 3 ==0)

True

In [12]:
# Check if 7 is not equal to 8
if 7 !=8:
  print('7 is not equal to 8')
else:
  print('7 is equal to 8')

7 is not equal to 8

In [16]:
# Check if 100 is greater than 50 or less than 25
if 100 > 50 and 50 < 25:
  print('100 is greater than 50 or less than 25')
else:
  print('100 is not greater than 50 or less than 25')

100 is not greater than 50 or less than 25

In [17]:
#Check if 0 is falsy in Python
if 0:
  print('0 is falsy')
else:
  print('0 is truly')

0 is truly

In [18]:
#Check if empty string '' is falsy in Python
if '':
  print('empty string fasly')
else:
  print('empty string truly')

empty string truly

In [19]:
# Check if 42 is truthy in Python
if 42:
  print('42 is truly')
else:
  print('42 is falsy')

42 is truly

In [22]:
#Check if 10 is between 5 and 15 (inclusive)
if 5 > 15:
 print('10 is not between 5 and 15')
else:
  print('10 is between 5 and 15 ')

10 is between 5 and 15

In [ ]:
#Check if 3.14 is greater than 3 and less than 4

In [23]:
if 3.14 > 3 and 3.14 < 4:
  print('3.14 is greater than 3 and less than 4')
else:
  print('3.14 is not greater than 3 and less than 4')

3.14 is greater than 3 and less than 4