<a href="https://colab.research.google.com/github/poolaNaveen/Data-Engineering/blob/main/Float.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Calculate the average of 3.14, 2.718, 1.618, 0.577
x = (3.14, 2.718, 1.618, 0.577)
print(sum(x)/len(x))

2.01325

In [9]:
list = [1,3,5,67,9]
print(sum(list)/len(list))

17.0

In [12]:
from typing import ForwardRef

#Convert 98.6 Fahrenheit to Celsius
fahrenheit = 98.6
celsius = (fahrenheit - 32)*5/9
print(celsius)

37.0

In [13]:
fahrenheit = 100
celsius = (fahrenheit -32)*5/9
print(celsius)

37.77777777777778

In [17]:
#Find the hypotenuse of a right triangle with sides 3.5 and 4.2
import math
a = 3.5
b = 4.2
h=math.sqrt(a**2 + b**2) ###Formula for hypotenuse
print(h)

5.4671747731346585

In [18]:
#Calculate the percentage: 45 out of 67
percentage = 45/67*100
print(percentage)

67.16417910447761

In [19]:
###45 0ut of 89
percentage = 45/89*100
print(percentage)

50.56179775280899

In [20]:
#Find the square root of 23.456
a = 23.456
b = math.sqrt(a)
print(b)

4.843139477652899

In [23]:
#Calculate simple interest: Principal=2500, Rate=6.5%, Time=2.5 years
print((2500*6.5*2.5)/100) ## PRT formula #"P = Principal"
                                         #"R = rate if intrest"
                                         #"T = Time in years"

406.25