<a href="https://colab.research.google.com/github/poolaNaveen/Data-Engineering/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Create a set of first 10 natural numbers
set = {1,2,3,4,5,6,7,8,9,10}
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
#Add element 11 to set {1, 2, 3, 4, 5}
set = {1,2,3,4,5}
set.add(11)
print(set)

{1, 2, 3, 4, 5, 11}

In [4]:
#Remove element 3 from set {1, 2, 3, 4, 5, 6}
set = {1,2,3,4,5,6}
set.remove(3)
print(set)

{1, 2, 4, 5, 6}

In [7]:
#Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = set1.intersection(set2)
print(set3)

{4, 5}

In [9]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 =set1.intersection(set2)
print(set3)

{4, 5}

In [ ]:
#Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 =  {4, 5, 6, 7, 8}
set3 = set1.difference(set2)
print(set3)

{1, 2, 3}

In [ ]:
#Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}

In [2]:
set =  {1, 2, 3, 4, 6, 7, 8}
if 5 in set:
  print("True")
else:
  print("False")

False

In [3]:
#Find the length of set {'a', 'b', 'c', 'd', 'e'}
set = {'a','b','c','d','e'}
print(len(set))

5

In [5]:
# Create a set of vowels from string 'hello world'
set = "hello world"
t = {'a','e','i','o','u'}
for i in set:
  if i in t:
    print(i)

e
o
o

In [6]:
set = "hello world"
t = {'a','e','i','o','u'}
for i in set:
  if i in t:
    print(i)

e
o
o

In [16]:
#Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
import string
list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
t =set(list)
print(t)

TypeError: 'str' object is not callable

In [17]:
s=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
t=set(s)
print(t)

TypeError: 'str' object is not callable

In [19]:
#Check if {1, 2, 3} is a subset of
x = {1, 2, 3, 4, 5, 6}
y = (3,4,5)
print(x.issubset(y))

False